{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Instafollow</title>
    <link rel="stylesheet" href="{% static 'payment_app/css/style.css' %}">
</head>
<body style="direction: rtl; text-align: center">
<div class="payment_done">
    <h2>پرداخت شما با موفقیت انجام شد.</h2>
    <h5>در حال بازگشت به برنامه</h5>
    <img src="{% static 'payment_app/image/paydone.svg' %}" alt="done"/>
    <br>
    <button><a href="{{ redirect_url }}?succeeded={{ purchase_verified }}">بازگشت به برنامه</a></button>

</div>
</body>
</html>